parameters:
	ignoreErrors:
		-
			message: "#^Cannot call method searchableAs\\(\\) on Illuminate\\\\Database\\\\Eloquent\\\\Model\\|null\\.$#"
			count: 2
			path: src/Engine.php

		-
			message: "#^Cannot call method extend\\(\\) on mixed\\.$#"
			count: 1
			path: src/ServiceProvider.php
