includes:
  - phpstan-baseline.neon

parameters:
  level: max
  paths:
    - src
  ignoreErrors:
    - identifier: missingType.iterableValue
    - identifier: missingType.generics
    - '#Parameter .+? of method Illuminate\\Support\\Collection<.+?>::.+?\(\) expects .+? given#'
    - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model::(getScoutKey|getScoutModelsByIds|queryScoutModelsByIds|searchableAs|scoutMetadata|pushSoftDeleteMetadata|toSearchableArray)\(\)#'
